.App {
  text-align: center;
  background-color: #101e19
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// 'spring-leaves': {
//     '50': '#f2f7f4',
//     '100': '#dfece3',
//     '200': '#c1d9ca',
//     '300': '#97bea8',
//     '400': '#6a9d81',
//     '500': '#539172',
//     '600': '#36654e',
//     '700': '#2b5140',
//     '800': '#244134',
//     '900': '#1e362b',
//     '950': '#101e19',
// },
