.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  position: absolute;
  width: 100%;
  background-color: #539172;
  display: flex;

  &__button{
    display: grid;
    width: 200px;
    border-radius: 13px;
    padding: 5px;
    margin: 5px;
    align-self: center;

    &:hover{
      cursor: pointer;
      background-color: #97bea8;
      box-shadow: 2px 2px 5px #36654e;

      span{
        text-shadow: none;
      }
    }

    &__title{
      font-size: x-large;
      font-family: 'Helvetica Neue';
      color: #1e362b;
    }

    span{
      color: #1e362b;
      text-shadow: 1px 1px 2px #36654e;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// 'spring-leaves': {
//     '50': '#f2f7f4',
//     '100': '#dfece3',
//     '200': '#c1d9ca',
//     '300': '#97bea8',
//     '400': '#6a9d81',
//     '500': '#539172',
//     '600': '#36654e',
//     '700': '#2b5140',
//     '800': '#244134',
//     '900': '#1e362b',
//     '950': '#101e19',
// },
